<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        
        <ul class="sidebar-menu">
            
            {{loop "module/menu/item" global.menulist}}
            
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>