<tr>
    <td colspan="4">
      <table class="table table-bordered table-hover">
        <tr>
          <th>#</th>
          <th>部门名称</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
        <tr>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>
            <button type="button" class="btn btn-default show-sub-dept"><i class='fa fa-arrow-circle-down'></i></button>
            <button type="button" class="btn btn-default"><i class='fa fa-wrench'></i></button>
            <button type="button" class="btn btn-default delete-dept"><i class='fa fa-trash-o '></i></button>
          </td>
        </tr>
        
      </table>
    </td>
</tr>